@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image-home {
    background-image: url("../src/img/bg-image-home.png");
}

.bg-image-toko-profile {
    background-image: url("../src/img/hacker-1.png");
}

.center-fixed {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;
}
