@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image-home {
    background-image: url('../img/bg-image-home.png')
}

.bg-image-toko-profile {
    background-image: url('../img/hacker-1.png')
}